/*COMMON*/
body{
  color: #333;
  font-size: 16px;
  font-size: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}
img{
  /* img(인라인 요소) 하단에 Baseline 공백을 제거 */
  display: block;
}
a { /*밑줄제거*/
  text-decoration: none;
}

/*INNER*/
.inner{
  width: 1100px;
  margin: 0 auto; /* 위아래 값은 없고 좌우는 브라우저가 자동으로 설정-> 가운데 정렬*/ 
  position: relative;
}


/*BUTTON*/
.btn{ /* 자세히 보기 버튼 스타일 */ 
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color:#333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover{ /* 눌렀을때 버튼스타일 회색 */ 
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse { /* reverse는 원래 배경이 회색 */ 
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover { /* 원래상태로 돌아감 배경 투명 */ 
  background-color: transparent;
  color: #333;
}
.btn.btn--brown {
  color: #592B18;
  border-color: #592B18 ;
}
.btn.btn--brown:hover {
  color: #fff;
  border-color: #592B18 ;
}
.btn.btn--gold {
  color: #D9AA8A;
  border-color: #D9AA8A ;
}
.btn.btn--gold:hover{
  color: #fff;
  border-color: #D9AA8A ;
}
.btn.btn--white {
  color: #FFF;
  border-color: #FFF ;
}
.btn.btn--white:hover{
  color: #333;
  border-color: #FFF ;
}

/*BACK TO POSITION*/
.back-to-position {
  opacity: 0; /* 투명한 상태이자 안보이는 상태 */
  transition: 1s;
}
.back-to-position.to-right {/* 원래의 상태로 돌아오는 것은 왼쪽에서 오른쪽으로 이동 */ 
  transform: translateX(-150px);/* 화면에 있던 요소가 왼쪽으로 이동 */ 
}
.back-to-position.to-left {/* 원래의 상태로 돌아오는 것은 오른쪽에서 왼쪽으로 이동 */ 
  transform: translateX(150px); /* 오른쪽으로 150만큼 이동해진 상태 */ 
}
.show .back-to-position {
  opacity : 1; /*화면에 보이는 상태 */
  transform: translateX(0);/* 원래의 상태로 돌아오다 */
}
.show .back-to-position.delay-0 {
  transition-delay: 0s;
}
.show .back-to-position.delay-1 {
  transition-delay: .3s;
}
.show .back-to-position.delay-2 {
  transition-delay: .6s;
}
.show .back-to-position.delay-3 {
  transition-delay: .9s;
}

/*HEADER*/ 
header{
  width: 100%;/*페이지를 최대한 활용 많이 할 수 있도록*/
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed; /*위치상의 부모요소로 기준이 된다.*/
  top: 0;
  z-index: 9;/*쌓임순서추가*/
}

header > .inner{ /*inner라는 공통적인 요소를 분리시켜줄 것이다*/
  /*header의 자식요소인 inner부분만 높이가 120픽셀*/
  height: 120px;
}
header .logo{
  height: 75px;
  position : absolute; /*배치::구조적인 부모요소 inner*/
  top: 0;
  bottom: 0;
  left: 0; /*inner요소를 기준으로 왼쪽에 붙어있다*/
  margin: auto; 
 
}
header .sub-menu {
  position: absolute;
  display: flex;
  top: 10px;
  right: 0;
  display: flex;
}
header .sub-menu ul.menu { /*메뉴를 수직으로 쌓아보자*/
  font-family: Arial, sans-serif;
  display: flex;
}
header .sub-menu ul.menu li{
  position: relative;
}
header .sub-menu ul.menu li::before{ /*::는 가상요소 선택자*/
  content: "";
  /* display: block; */
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .sub-menu ul.menu li:first-child::before{
  display: none; /*젤 앞 구분선 삭제*/
}
header .sub-menu ul.menu li a{

  font-size: 12px;
  padding: 11px 16px;
  display: block; /*인라인 요소에서 가상요소로 들어간다*/
  color: #656565;
}

header .sub-menu ul.menu li a:hover{ /*마우스 올라갔을때 글자색변경*/
  color:#000000;
}
header .sub-menu .search{/*Search 요소의 범위*/
  height: 34px; /*검색부분의 높이값*/
  position: relative;
}
header .sub-menu .search input{
  width: 36px;
  height: 34px;
  padding: 4px 10px; /*내부 여백 추가*/
  border: 1px solid #ccc;
  box-sizing: border-box; /*내부여백과 테두리선추가*/
  border-radius: 5px; /*input요소 둥글게 깎는다.*/
  outline: none;  
  background-color: #fff;
  color: #777;  /* 글씨색상 */
  font-size: 12px;
  transition: width .4s; /* 가로 전환 효과, 지속 시간*/
}
header .sub-menu .search input:focus{ /*가상클래스 요소 추가 input요소가 focus 되면*/
  width: 190px;
  border-color: #669900;/* 테두리 색상 초록색*/
}
header .sub-menu .search .material-icons {/*돋보기 모양 속성추가*/
  height: 24px; 
  position: absolute; /*부모요소를 기준으로 배치를 하겠다*/
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto; /*외부여백 margin을 자동설정*/
  transition: .4s;
}



header .sub-menu .search.focused .material-icons {
  /*focus가 된 상태에서는 아이콘이 안보이게 하겠다*/
  opacity: 0;
}

/*헤더와 드롭다운 메뉴*/
header .main-menu {
  position: absolute; /*위치상에 부모요소를 기준으로 배치*/
  bottom: 0px;
  right: 0px;
  /* z-index: 1; */
  display: flex; /*메뉴들을 수평으로 만들기*/
}
header .main-menu .item .item__name{
  padding: 10px 20px 34px 20px;/*여백생성(시계방향)*/
  font-family: Arial, sans-serif;/*메뉴들을 둥글게 깎는다.*/
  font-size: 13px; /*이후 메인메뉴에 position값추가*/
}
header .main-menu .item:hover .item__name{
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}
header .main-menu .item .item__contents{
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}


header .main-menu .item:hover .item__contents{
  display: block;
}
header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
}
header .main-menu .item .item__contents .contents__menu > ul{ /*바로 자식에 해당하는 ul태그*/
  display: flex;
  padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li{
  width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4{
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li{
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover{
  color: #669900; /*글자색이 바뀌는 구조 만들기*/
}
header .main-menu .item .item__contents .contents__texture{
  padding: 26px 0; /*내부 여백 : 위아래 좌우;*/
  font-size: 12px;
  background-image: url("../images/main_menu_pattern.jpg"); /*메뉴배경넣기*/
}
header .main-menu .item .item__contents .contents__texture h4{
  color: #999;
  font-weight: 700;
}
header .main-menu .item .item__contents .contents__texture p{
  color: #669900;
  margin: 4px 0 14px;
}

header .badges{/*배지부분 내용추가-*/
  position: absolute;
  top: 132px;
  right: 12px;
}
header .badges .badge{
  border-radius: 10px;
  overflow: hidden; /*모서리 깎기*/
  margin-bottom: 12px; /*아랫쪽 바깥여백*/
  box-shadow: 4px 4px 10px rgba(0,0,0, .15);/*그림자 넣어주기*/
  cursor: pointer;/*커서 올리면 손가락 모양으로 바뀌기*/
}

/*FOOTER*/
footer {
  background-color: #272727;
  border-top: 1px solid #333;
}
footer .inner {
  padding: 40px 0 60px 0;
}
footer .menu {
  display: flex;
  justify-content: center;
}
footer .menu li {
  position: relative;
}
footer .menu li::before {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
footer .menu li:last-child::before { /*li태그 중에 가장 마지막 가상요소*/
  display: none; /*화면에서 안보이게 하겠다*/
}
footer .menu li a {
  display: block;
  color: #CCC;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
}
footer .menu li a.green {
  color: #669900;
}
footer .btn-group {
  margin-top: 20px; /*메뉴부분과 거리만들기*/
  display: flex;/*버튼이 수평이 될 수 있도록*/
  justify-content: center; /* 중간으로 올 수 있게한다*/
}
footer .btn-group .btn {
  font-size: 12px;
  margin-right: 10px;
}
footer .btn-group .btn:last-child {/*마지막 여백은 없앤다*/
  margin-right: 0;
}

footer .info {
  margin-top: 30px;
  text-align: center;
}
footer .info span {
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}
footer .info span:last-child {
  margin-right: 0;
}
footer .copyright {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}
footer .logo {
  margin: 30px auto 0;
}